
<h1>Hola Mundo</h1>


<router-outlet></router-outlet>

<h2>Rutas de Auth</h2>
<ul>
    <li>
        <a routerLink="/auth/login">
            Ir al login
        </a>
    </li>
    <li>
        <a routerLink="/auth/register">
            Ir al Registro
        </a>
    </li>
</ul>


<h2>Rutas de Heroes</h2>
<ul>
    <li>
        <a routerLink="/heroes/list">
            Ir al listado
        </a>
    </li>
    <li>
        <a routerLink="/heroes/add">
            Ir a agregar
        </a>
    </li>    <li>
        <a routerLink="/heroes/edit/123">
            Ir al editar
        </a>
    </li>    <li>
        <a routerLink="/heroes/search">
            Ir a Buscar
        </a>
    </li>    <li>
        <a routerLink="/heroes/123">
            Ir a Heroe por id
        </a>
    </li>
    <li>
        <a routerLink="/heroes/djf9fnweifn">
            Ir a Cualquier cosa 
        </a>
    </li>
</ul>